In [1]:
import pandas
import numpy

In [3]:
data = pandas.DataFrame(columns=['TIME','X','Y'])

In [4]:
x =1
y =2
z= 3
data.append({'TIME':x,'X':y,'Y':z},ignore_index=True)

/var/folders/zy/_wdf8zn51qq_j543bvqj82x40000gn/T/ipykernel_46349/3369765946.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data.append({'TIME':x,'X':y,'Y':z},ignore_index=True)

  TIME  X  Y
0    1  2  3

In [5]:
data

Empty DataFrame
Columns: [TIME, X, Y]
Index: []